* {transition: all .1s ease-in;}

html {
    height: 100%;
    min-height: 100%;
}

body {
    font: 200 16px 'Lobster', cursive;
    background-color: #3399cc;
    color: #fff;
    border: 20px solid #2b81ac;
    min-height: 100%;
}

div {
    margin: 0 auto;
    max-width: 1024px;
}

header {
    padding: 30px 0;
}

ul, li {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
}

ul {
    width: 70%;
    background-color: white;
    text-align:center;
    font-size: 0;
}

ul:hover > li {
    opacity: 0.6;
}

ul li:hover {
    opacity: 1;
}

ul li:active {
    background: white;
}

li {
    padding: 25px 10px;
    border: 3px solid #fff;
    text-align: center;
    font-size: 16px;
}

p {
    color: rgba(255, 255, 255, 0.6);
    padding: 10px;
}

.class1 {
    background-color: #3399cc;
    width: 50%;
}

.class2 {
    background-color: #33cccc;
    width: 25%;
}

.class3 {
    background-color: #996699;
    width: 25%;
}

.class4 {
    background-color: #c24747;
    width: 25%;
}

.class5 {
    background-color: #e2674a;
    width: 25%;
}

.class6 {
    background-color: #ffcc66;
    width: 25%;
}

.class7 {
    background-color: #99cc99;
    width: 25%;
}

.class8 {
    background-color: #669999;
    width: 25%;
}

.class9 {
    background-color: #cc6699;
    width: 50%;
}

.class10 {
    background-color: #339966;
    width: 25%;
}

.class11 {
    background-color: #666699;
    width: 100%;
}

span::after {
    content: 'C';
}

footer {
    padding: 30px 0;
}